#login{
    position: relative;
    font-size:35px;
    font-style: normal;
    font-weight: 700;
    bottom: 20px;
    
  }
  #divbar{
      position: relative;
      border: none;
      border-radius:10px;
      margin: 90px;
      margin-bottom: 0px;
      width: 450px;
    
      padding: 20px;
      left: 410px;
      top: 10px;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      background-color: whitesmoke;
      opacity: 80%;
  }

  #textBoxUserName{
    position: relative;
    width: 300px;
    height: 35px;

    border-radius: 50px;

}
#passerror{
    font-size: 15px;
    color :rgb(148, 33, 33);
    width: 500px;
  }
  #textBoxPassword{
    position: relative;
    width: 300px;
    height: 35px;
  
    border-radius: 50px;
  
  }

  .form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 35px;
  }

  .btn-login{
  
    position: relative;left: 280px;
    
  }

  #result_table{

    text-align:center;
    width:60% ;
    margin:auto;
    padding:10px;
    overflow:hidden;
    white-space:nowrap;
    background:#f9f9f9;
    box-shadow:0 0 10px rgba(0,0,0,.1) inset;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-collapse:separate!important;
    border-spacing:0;
    empty-cells:show;
    border-color:grey;
    
    border-style:solid;
    border-width:1px;
    /*not only the the border should be solid, all of the table*/
    font:normal normal bold 14px/normal 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#7a7b7c;
    background:#fff;
    z-index:2;
}
#result_table td,th{
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:10px;
    height:40px;
text-overflow:ellipsis;
    vertical-align:middle;
    cursor:pointer;
    
}



