body, section, form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
    width: 80%;
}
form{
    width: 100%;
}
/*---------------------espefific styles---------------------*/
/*Box with the question, the places to recognize the order and the answer cards*/
.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
}
#question{
    text-align: left;
    width: 100%;
}
/*Container where the space for answer and the cards with answers are*/
.container{
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    min-height: 20vh;
}
/*Each container where the user will place the answers*/
.box{
    border: solid black 2px;
    width: 25%;
    height: 20vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Box Where the answers are*/
.box-answer{
    border: solid black 2px;
    width: 17vw;
    height: 14vh;
    box-sizing: border-box;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--gold);
    padding: 1%;
}

.button{
    font-size: 1.5rem;
    height: 6vh;
    width: 10vw;
}

.container-informative{
    min-height: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-between ;
}

#best, #worst{
    width: 50%;
    height: 3vh;
}
#worst{
    text-align: right;
    background-image: linear-gradient(to right, white , red)
}
#best{
    text-align: left;
    background-image: linear-gradient(to right, green , white)
}